#myBtn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 18.5%;
    left: 80.25%;
    max-width: 80px;
    width: 10%;
    max-height: 80px;
    height: 100%;
    font-size: 20px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(187, 45, 59);
    padding: .5px;
    border-radius: 100%;
}


/*On Hover Color Change*/

#myBtn:hover {
    background-color: rgb(187, 45, 59);
}